/* index.css */
@import "tailwindcss";
:root {
  --bg-color: #121212e8;
  --text-color: #ffffff;
  --login-color: rgba(38, 210, 38, 0.909);
  --register-color: rgb(32, 108, 202);
}

body {
    @apply bg-[var(--bg-color)] text-[var(--text-color)];
}